@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600|Fira+Sans:300,300i,400,400i,500,500i,600,700|Montserrat:300,300i,400,400i,500,500i,600,700|Playfair+Display:400,400i,700,700i&display=swap');

$sans: 'Montserrat', sans-serif;
$sans2: 'Fira Sans', sans-serif;
$serif: 'Playfair Display', serif;
$serif2: 'Cormorant Garamond', serif;

$lime: #4bffa5;
$darkGreen: #34421E;
$darkBlue: #040F3D;
$gray: #C6C4C5;
$white: #F1F1EF;
$blue: #5485A8;
$lightBlue: #6199C2;
$green: #5DAA68;
$black: #151617;
$b: #000000;
$w: #ffffff;
$dark: #353D42;
$light: #A3BBCC;
