@import 'assets';

.select-row {
    width: 90%;
    margin: 20px auto;
}
.select-button {
    width: 50%;
    height: 50px;
    background: $blue;
    border: none;
    font-size: 20px;

}
.select-button:hover {
    background: $lightBlue;
}
.active {
    background: $lightBlue;
}