@import 'assets';

.top-container {
    position: relative;
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: column;
    background: $dBlue;
    padding: 10px 0 50px 0;
}
.top-row {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.top-column2 {
    width: 100vw;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.mr-cash-holder {
    position: relative;
    height: auto;
    width: auto;
    right: 0;
}
.mr-cash {
    height: auto;
    max-height: 70vh;
    width: auto;
    max-width: 40vw;
}

.main-row {
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}
.main-column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 10px;
}

.header {
    font-family: $serif;
    height: auto;
    position: relative;
    margin: 10px auto;
    font-size: 35px;
    font-weight: 600;
    color: $white;
    text-align: center;
    strong {
        font-family: $sans3;
        font-size: 35px;
        font-weight: 800;
    }
}
.header2 {
    font-size: 30px;
    color: $white;
    font-family: $sans3;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin: 5px auto;
}
.header3 {
    font-size: 20px;
    color: $white;
    font-family: $sans;
    margin: 10px 0;
}
.home-button {
    width: 250px;
    max-width: 80vw;
    height: 50px;
    font-size: 25px;
    color: $white;
    margin-top: 50px;
    background: $orange;
    font-family: $sans;
    font-weight: 800;
    border: 3px solid $orange;
    box-shadow: 1px 1px 3px $dGray;
    border-radius: 5px;
}
#arrow {
    padding-left: 10px;
    font-size: 23px;
}

.home-row {
    z-index: 10;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.home-column {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
#left-column {
    width: 80%;
    min-width: 300px;
}
.home-list-container {
    margin: 0 auto;
    width: auto;
}
.home-list {
    font-family: $sans;
    font-size: 20px;
    margin: auto;
    width: auto;
    color: $white;
}

.how-container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.home-header2 {
    font-family: $sans;
    font-size: 40px;
    color: $black;
}

.home-header3 {
    font-family: $sans;
    font-size: 30px;
    color: $black;
    text-align: center;
}
.home-par {
    font-family: $sans;
    font-size: 22px;
    color: $black;

}
.how-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.how-column {
    width: 50%;
    min-width: 300px;
    margin-bottom: 30px;
}
.how-steps {
    font-size: 35px;
    color: $green;
    border: 3px solid $green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}

.offer-container {
    padding-top: 25px;
    padding-bottom: 50px;
    background: #f5f5f5;
}

.offer-header {
    font-family: $sans;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 30px;
}

@media only screen and (min-width: 330px) {
    .header {
        width: 300px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 500px) {
    .header {
        width: 90%;
    }
}