@import 'assets';

.form-page {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.personal-form-header {
    font-family: $sans;
    font-size: 20px;
    color: $dGray;
    text-align: center;
    font-weight: 500;
    padding: 10px 0;
}

.personal-form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.input-holder {
    display: flex;
    width: 80%;
    min-width: 300px;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal-label {
    font-family: $sans;
    font-size: 20px;
    color: $black;
    text-align: left;
}

.input {
    width: 100%;
    min-width: 280px;
    height: 40px;
    font-family: $sans;
    font-size: 18px;
    margin: 0px auto;
    border: 2px solid $gray;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
}

.submit-button {
    height: 40px;
    width: 200px;
    margin: 20px auto 50px auto;
    background: $green;
    color: $white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    font-family: $sans;
}