@import 'assets';

.pricing-page {
    padding-top: 50px;
}

.price-container {
    width: 70%;
    max-width: 800px;
    min-width: 300px;
    border: 2px solid $gray;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.price-vehicle {
    font-family: $sans2;
    font-size: 25px;
    color: $dGray;
    text-align: center;
}

.price-text {
    font-family: $sans;
    font-size: 22px;
    color: $dGray;
    max-width: 95%;
    width: auto;
    margin: 0 auto;
}

.price-range {
    font-family: $sans;
    font-size: 35px;
    color: $dGray;
    text-align: center;
    font-weight: 500;
}

.price-button {
    width: 200px;
    height: 50px;
    margin: 30px auto;
    font-family: $sans2;
    font-size: 30px;
    color: $w;
    background: $dGray;
}
#price-arrow {
    font-size: 28px;
}