@import 'assets';

.vin-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center; 
    width: 100%;
}

.vin-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 95%;
    margin: 10px auto;
}

.vin-column {
    width: 45%;
    margin: auto;
    display: flex;
    flex-flow: column;
}
.vin-full-column {
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.vin-label {
    font-family: $sans;
    font-size: 16px;
    color: $black;
    margin-bottom: 5px;
}

.vin-input {
    height: 35px;
    border: 3px solid $blue;
    font-family: $sans;
    font-size: 20px;
}

.vin-button {
    width: 200px;
    height: 50px;
    background: $blue;
    font-size: 30px;
    border: none;
    margin-top: 20px;
    color: $white;
}
.vin-button:hover {
    background: $lightBlue;
    box-shadow: 0px 0px 1px 0px $black;
}