@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600&display=swap");
@import url("https://use.typekit.net/sdx4hhx.css");
.top-container {
  position: relative;
  height: auto;
  min-height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: 0;
  margin: 0;
  perspective: 800px;
  background: url("../images/dots.svg");
  background-size: 25px 25px;
  background-repeat: repeat;
}

.mid-header {
  display: none;
}

.top-column {
  display: flex;
  flex-flow: column;
  width: auto;
  min-height: 60vh;
  height: auto;
  position: relative;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: -20px auto 0 auto;
  padding: 0;
}

.top-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.mr-cash-tall {
  display: none;
}

.mr-cash {
  height: 30vh;
  width: auto;
  display: block;
  max-width: 80vw;
  position: relative;
  margin: 25px auto 0 auto;
  padding: 0;
  animation-name: fly;
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-name: fly;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
}

.cta-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.header-bubble {
  margin: 20px auto;
  padding: 0;
  width: 100%;
  z-index: 1;
  max-width: 400px;
  max-height: 150px;
  animation-name: fadeIN;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 1.5s;
  -webkit-animation-name: fadeIN;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 1.5s;
}

.header-bubble-big {
  display: none;
}

.big-bubble {
  display: none;
}

.home-row {
  z-index: 10;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.home-column {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.how-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 50px;
  margin: 0;
  box-shadow: -2px -5px 5px 0 rgba(0, 0, 0, 0.12);
  background: #4D4D4D;
  background: radial-gradient(circle, #676767 0%, #4b4b4b 100%);
}

.home-header2 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #F8F8F8;
  text-align: center;
  height: auto;
  line-height: auto;
  padding: 0;
  margin: 0;
  position: relative;
}

.how-header-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 0;
  margin: 0;
}

.home-par {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #F8F8F8;
  position: relative;
  margin: auto;
  height: auto;
  width: 90%;
  padding-bottom: 20px;
}

.how-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: 800px;
}

.how-column {
  width: calc(100vw - 50px);
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.how-steps {
  font-size: 25px;
  color: #F8F8F8;
  font-family: "Poppins", sans-serif;
  width: auto;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 0px 0 10px 0;
}

.how-column1 {
  width: 50px;
  margin: 5px 0px 0 5px;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.line-column {
  display: flex;
  flex-flow: column nowrap;
  width: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
}

.line:nth-child(odd) {
  padding: 0;
  margin: 0;
  height: 2%;
  width: 2px;
  display: inline-block;
  background: #F8F8F8;
}

.line:nth-child(even) {
  padding: 0;
  margin: 0;
  height: 2%;
  width: 2px;
  display: inline-block;
  background: #151617;
}

.road {
  height: 100%;
  background: #151617;
  width: 10px;
  display: inline-block;
}

.car {
  width: 75px;
  height: auto;
  margin: 0;
  padding: 0;
}

.offer {
  width: auto;
  height: 50px;
  margin: 10px 0;
  padding: 0;
}

.money {
  height: 50px;
  width: auto;
  margin: 10px 0;
  padding: 0;
}

.step-box {
  padding: 20px 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.step-box:last-child {
  padding-bottom: 0;
}

.about-container {
  margin: 0;
  padding: 75px 0 50px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.home-header3 {
  font-family: "Poppins", sans-serif;
  color: #F8F8F8;
  width: 95%;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.disclaimer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #F8F8F8;
  width: 95%;
  margin: 0 auto;
  max-width: 800px;
}

.home-input-container {
  display: none;
}

.mid-size-holder {
  display: none;
}

.mid-header {
  display: none;
}

.mid-bubble {
  display: none;
}

.home-video {
  height: 225px;
  width: 400px;
}

.home-cta {
  width: 90%;
  padding: 5px;
  height: 40px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #F8F8F8;
  background: #2F9044;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #4b4b4b;
}

.video-thumbnail-container {
  width: 90%;
  height: 200px;
  max-height: 200px;
  overflow: hidden;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  filter: brightness(70%);
  display: block;
  align-self: center;
  justify-self: center;
}

#play_circle {
  font-size: 50px;
  color: #F8F8F8;
  position: absolute;
  display: block;
}

.learn-more-text {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #F8F8F8;
  position: absolute;
  bottom: -20px;
}

#play_circle2 {
  padding-left: 10px;
}

.video-thumbnail-container:hover .learn-more-text {
  transform: scale(1.05);
}

@keyframes fly {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 400px) {
  .video-thumbnail-container {
    height: auto;
    max-height: 150px;
  }

  .video-thumbnail {
    filter: brightness(60%);
  }

  .learn-more-text {
    font-size: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .header-bubble {
    max-width: 350px;
  }
}
@media only screen and (max-width: 370px) {
  .header-bubble {
    max-width: 300px;
  }
}
.home-video-holder {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.home-video {
  width: 800px;
  height: 450px;
  max-width: 100vw;
  max-height: 90vh;
  z-index: 200;
}

.close-video {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: #F8F8F8;
  position: absolute;
  top: 175px;
  right: 90px;
  background: #4b4b4b;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 201;
}

@media only screen and (min-width: 700px) {
  .mid-size-holder {
    display: none;
  }

  .mid-header {
    display: none;
  }

  .mid-bubble {
    display: none;
  }

  .top-container {
    padding: 0;
    flex-flow: row-reverse;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    margin: 0 auto;
    width: 100%;
  }

  .top-holder {
    padding: 0;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 60px);
    margin: 0 auto;
    width: 100%;
  }

  .top-column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin: 0 50px;
  }

  .mr-cash-tall {
    display: block;
    position: relative;
    width: auto;
    height: 60vh;
    margin-top: 100px;
    padding-top: 0;
    margin-right: -10px;
  }

  .mr-cash {
    display: none;
  }

  .header-bubble {
    display: none;
  }

  .header-bubble-big {
    display: block;
    width: 350px;
    height: auto;
    margin: 100px -50px 100px auto;
  }

  .top-column {
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-end;
  }

  .home-cta {
    min-width: 300px;
  }

  .home-learn-header {
    min-width: 300px;
  }
}
@media only screen and (min-width: 950px) {
  .big-bubble {
    width: 250px;
    height: auto;
    display: block;
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 15px;
    transform: rotate(-10deg);
    margin-right: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .close-video {
    right: 15px;
  }
}
@media only screen and (max-width: 650px) {
  .home-video-holder {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .close-video {
    top: 50px;
  }

  .home-video {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 450px) {
  .home-video {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=home.css.map */
