@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,700|Fira+Sans:300,300i,400,400i,500,500i,600,700,800,900|Montserrat:300,300i,400,400i,500,500i,600,700,800,900|Playfair+Display:400,400i,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Merriweather:400,700,900&display=swap");
@import url("https://use.typekit.net/sdx4hhx.css");
.top-container {
  position: relative;
  height: auto;
  min-height: 70vh;
  max-height: 90vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background: #003242;
  padding: 20px 0 0 0;
  perspective: 800px;
}

.top-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  height: auto;
  justify-items: flex-end;
  justify-content: center;
  position: relative;
  padding-top: 0px;
}

.top-column {
  display: flex;
  flex-flow: column;
  width: auto;
  height: auto;
  position: relative;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}

.comic-bubble {
  width: 60vw;
  position: relative;
  left: 40px;
  margin-top: 5px;
}

.comic-bubble2 {
  width: 50vw;
  position: relative;
  margin: auto;
}

.cta-button {
  width: 90%;
  padding-bottom: 10px;
  height: auto;
  display: block;
  position: relative;
  margin: auto;
}

.mr-cash {
  height: auto;
  max-height: 30vh;
  width: auto;
  display: block;
  max-width: 80vw;
  position: relative;
  margin: auto;
  animation-name: fly;
  animation-delay: 0;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -webkit-animation-name: fly;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
}

.header-bubble {
  margin: 0 auto -50px auto;
  padding: 0;
  width: 100%;
  z-index: 1;
  max-width: 500px;
}

.header {
  font-family: classic-comic, sans-serif;
  font-style: italic;
  height: auto;
  position: relative;
  margin: 10px auto;
  font-size: calc(25px + 15 * ((100vw - 320px) / 680));
  font-weight: 600;
  color: #F8F8F8;
  text-align: center;
}

.header2 {
  font-size: calc(18px + 15 * ((100vw - 320px) / 680));
  color: #F8F8F8;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  margin: 5px auto;
}

.list-header {
  font-size: calc(22px + 10 * ((100vw - 320px) / 680));
  color: #151617;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  margin: 5px auto;
}

.top-list {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #151617;
  padding: 5px;
}

.home-button {
  width: 250px;
  max-width: 80vw;
  height: 50px;
  font-size: 25px;
  color: #F8F8F8;
  margin: 50px auto 10px auto;
  background: #F58C20;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: 3px solid #F58C20;
  box-shadow: 1px 1px 3px #4a4a4a;
  border-radius: 5px;
}

#arrow {
  padding-left: 10px;
  font-size: 23px;
}

.home-row {
  z-index: 10;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.home-column {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#left-column {
  width: 80%;
  min-width: 300px;
}

.home-list-container {
  margin: 0 auto;
  width: auto;
}

.home-list {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: auto;
  width: auto;
  color: #F8F8F8;
}

.how-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.home-header2 {
  width: 100%;
  font-family: ccmeanwhile, sans-serif;
  font-size: 30px;
  color: #151617;
  text-align: center;
  height: auto;
  line-height: auto;
  padding: 0;
  margin: 0;
  position: relative;
}

.how-header-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 0;
  margin: 0;
  border-bottom: 3px solid #151617;
}

.home-header3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #151617;
  text-align: center;
}

.home-par {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #151617;
  position: relative;
  margin: auto;
  height: auto;
  width: 90%;
  padding-bottom: 20px;
}

#how-par {
  margin-top: -50px;
}

.how-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 3px solid #151617;
}

.how-column {
  width: 100%;
  min-width: 300px;
  position: relative;
  padding: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.how-steps {
  font-size: 30px;
  color: #F58C20;
  font-family: classic-comic, sans-serif;
  width: auto;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 10px 0;
}

.offer-container {
  padding-top: 25px;
  padding-bottom: 50px;
  background: #f5f5f5;
}

.offer-header {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 30px;
}

@keyframes fly {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=home.css.map */
