@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600&display=swap");
@import url("https://use.typekit.net/sdx4hhx.css");
.offer-page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.form-container {
  width: 100%;
  height: 100%;
  top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #F8F8F8;
  margin: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.top-form-container {
  border-bottom: 3px solid #e8e8e8;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: #F8F8F8;
  height: 50px;
  z-index: 5;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  justify-items: space-evenly;
  align-content: center;
  align-items: center;
}

.form-header {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #4a4a4a;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.form {
  width: 100%;
  height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0px;
}

.option-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  border-top: 1px solid #e8e8e8;
}

.option {
  font-size: 20px;
  display: block;
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  padding: 8px 5px 8px 15px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  text-align: left;
  text-decoration: none;
  background: inherit;
}

.not-selected {
  display: none;
}

.option-selected {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #2F9044;
  content: "✓";
}

.offer-input {
  width: 80%;
  min-width: 280px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 10px auto 0 auto;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}

.next-button {
  font-size: 18px;
  font-weight: 600;
  height: 35px;
  width: auto;
  color: #F8F8F8;
  background: #2F9044;
  border: none;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

.next-button-long {
  height: 35px;
  width: auto;
  font-size: 16px;
  font-weight: 600;
  color: #151617;
  background: #F8F8F8;
  border: none;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

.prev-button {
  height: 35px;
  margin-left: 10px;
  width: auto;
  font-size: 18px;
  font-weight: 600;
  color: #F8F8F8;
  background: #EF2917;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 5px 10px;
}

.form-bottom-row {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #4b4b4b;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  justify-items: space-between;
  align-content: center;
  align-items: center;
  border-top: 1px solid #e8e8e8;
}

.form-error-row {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 50px;
  background: #4b4b4b;
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  align-content: center;
  align-items: center;
  padding: 10px;
}

.error-text {
  color: #F8F8F8;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.close-error {
  position: absolute;
  opacity: 0.95;
  top: -10px;
  right: 15px;
  color: #D4121F;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 17px;
  background: #F8F8F8;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.form-radio-column {
  display: flex;
  flex-flow: column;
  width: auto;
  margin: 30px auto 0 auto;
}

.form-radio-row {
  display: flex;
  flex-flow: row;
  width: auto;
  align-content: center;
  align-items: center;
  padding: 15px 0;
}

.radio-label {
  font-size: 23px;
  color: #4a4a4a;
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-items: center;
}

.radio-input {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  margin-right: 10px;
}

.file-upload-page {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.upload-photos-box {
  width: 250px;
  margin: 30px auto 20px auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: auto;
}

.upload-button {
  width: 250px;
  height: 45px;
  margin: auto;
  justify-self: center;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #151617;
  box-sizing: border-box;
  border: 2px solid #5a5a5a;
  border-radius: 5px;
  text-align: center;
}

.thumbnail-container {
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-items: space-evenly;
}

.file-thumbnail-holder {
  height: 125px;
  width: 125px;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.file-thumbnail {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
}

.delete-thumbnail {
  display: none;
  color: red;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.file-thumbnail-holder:hover {
  filter: brightness(75%);
}
.file-thumbnail-holder:hover .delete-thumbnail {
  display: block;
}

.reset-button {
  font-size: 18px;
  font-weight: 600;
  height: 35px;
  width: auto;
  color: #151617;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #F8F8F8;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}

.input-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}

.vin-button {
  width: 100%;
  min-width: 280px;
  height: 50px;
  border: 1px solid #e8e8e8;
  background: #4a4a4a;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  color: #F8F8F8;
  font-weight: 500;
  margin: 0 auto;
  border-top: none;
}

.vin-submit-button {
  background: #2F9044;
  color: #F8F8F8;
  width: 200px;
  height: 40px;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.par {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .offer-page {
    background: #003242;
  }

  .form-container {
    width: 90%;
    margin: auto;
    height: calc(100% - 100px);
    top: 20px;
    border-radius: 15px;
  }

  .form-bottom-row {
    height: 60px;
  }

  .next-button {
    height: 50px;
    width: 25%;
    font-size: 30px;
    font-weight: 400;
  }

  .prev-button {
    height: 50px;
    width: 25%;
    font-size: 30px;
    font-weight: 400;
  }

  .reset-button {
    height: 50px;
    width: 20%;
    font-size: 30px;
    font-weight: 400;
  }

  .form {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .form-container {
    width: 80%;
    max-width: 800px;
  }
}

/*# sourceMappingURL=offer.css.map */
